[submodule "servers"]
	path = servers
	url = git@github.com:modelcontextprotocol/servers.git
[submodule "kubernetes-mcp-server"]
	path = kubernetes-mcp-server
	url = git@github.com:containers/kubernetes-mcp-server.git
